@import url(./reset.css);
@import url(./fonts.css);

:root {
  --accent-color: hsl(75, 94%, 57%);
  --grey-700: hsl(0, 0%, 20%);
  --grey-800: hsl(0, 0%, 12%);
  --grey-900: hsl(0, 0%, 8%);

  --font-main: "Inter", sans-serif;
  --content-width: 24rem;
  --container-offset: 1.5rem;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
}

body {
  font-family: var(--font-main);
  line-height: 1.5;
  font-weight: 400;

  color: #fff;
  background-color: var(--grey-900);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  padding-inline: var(--container-offset);
}


.social-links {
  height: 100svh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: clamp(1.5rem, 4vw, 2.5rem);
  background-color: var(--grey-800);
  border-radius: 1rem;
}

.card__person-info {
  text-align: center;
  margin-bottom: 1.5rem;
}

.card__person-info::selection {
  color: var(--grey-900);
  background-color: var(--accent-color);
}

.card__person-img {
  max-width: 5.5rem;
  margin-bottom: 1.5rem;
  border-radius: 100%;
  user-select: none;
}

.card__person-name {
  margin-bottom: 0.25rem;
  font-size: 24px;
  font-weight: 700;
}

.card__person-location {
  margin-bottom: 1.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--accent-color);
}

.card__person-descr {
  font-size: 0.875rem;
}

.card__links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-x: hidden;
}

.card__link-item {
  position: relative;
  z-index: 10;

  overflow: clip;
  text-align: center;
  background-color: var(--grey-700);
  border-radius: 0.5rem;
  transition: scale .2s ease-in-out;
}

.card__link {
  display: block;
  padding: 0.6875rem;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  transition: color .2s ease-out;
}

.card__link::before,
.card__link::after {
  position: absolute;
  content: '';
  inset: 0;
  z-index: -1;
  border-radius: 0.5rem 0 0 0.5rem;
  background-color: transparent;
  transform: translateX(-100%);
  transition: background-color .8s, transform .5s ease-out;
}

.card__link::after {
  border-radius: 0 0.5rem 0.5rem 0;
  transform: translateX(100%);
}

/* links hover state */
@media (any-hover: hover) {
  .card__link-item:hover .card__link {
    color: var(--grey-700);
  }

  .card__link-item:hover .card__link::before,
  .card__link-item:hover .card__link::after {
    transform: translateX(0);
    background-color: var(--accent-color);
    transition: background-color .4s, transform .5s ease-out;
  }
}

/* links focus state */
.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  color: var(--grey-700);
  background-color: var(--accent-color);
}

/* links active state */
.card__link-item:active .card__link {
  color: var(--grey-700);
}

.card__link-item:active {
  scale: 0.98;
  transition: scale .2s ease;
}

.card__link-item:active .card__link::before,
.card__link-item:active .card__link::after {
  transform: translateX(0);
  background-color: var(--accent-color);
  transition: background-color .2s, transform .3s ease-out;
}